.subHeroHeaderAboutMe{
  font-family: omnes-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  margin: 0px 0px 25px -20px;
}

.musicPageHeroImageAbout {
    width: 1200px;
    margin: 40px 0px 50px 0px;
}
