.master {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero {
  display: inline-flex;
  justify-content: center;
  margin: auto;
  padding: 200px 275px 250px 275px;

}

.heroRight {
  text-align: center;
  margin: 0px 0px;
}

.centralHeader {
  font-family: omnes-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  margin: 50px 0px 0px 0px;
}

.myPostsWrapper {
  display: flex;
  flex-direction: column;
}

.subHeader {
  display: inline-flex;
}

.subHeaderText {
  font-family: omnes-pro, serif;
  font-weight: 200px;
  font-style: normal;
  font-size: 24px;
  margin: 0px 0px 0px 125px;
}

.subHeaderFlagWrapper {
  margin: 8px 0px 25px 8px;
}

.subHeaderFlag {
  height: 22px;
  width: 50px;
}

.projectsWrapper {
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.projectsHeader {
  font-family: omnes-pro, serif;
  font-weight: 75;
  font-style: normal;
  font-size: 32px;
  margin: 0px 0px 75px 0px;
}
