.footerWrapper {
    text-align: center;
    vertical-align: middle;
    padding-top: 75px;
    padding-bottom: 75px;
    color: #3fe416;
    background-color: #545454;
}

.footerMainText {
    margin: 25px 0px 0px 0px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.footerSubText {
    margin: 25px 0px 0px 0px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #3fe416;
    text-decoration: none;
}

.footerLink {
    color: #3fe416;
}
